@charset "utf-8";
/* CSS Document */

img.top1 { 
left: 141px;
position: absolute;
top: 144px;
z-index: 2;
size: auto;
height: 160px;
width: 160px;
} 
img.top2 { 
left: 796px;
position: absolute;
top: 346px;
z-index: 2;
size: auto;
height: 160px;
width: 160px;
} 
img.top3 { 
left: 141px;
position: absolute;
top: 417px;
z-index: 2;
size: auto;
height: 160px;
width: 160px;
} 
img.top4 { 
left: 796px;
position: absolute;
top: 622px;
z-index: 2;
size: auto;
height: 160px;
width: 160px;
} 
img.bdayboy { 
left: 453px;
position: absolute;
top: 165px;
z-index: 2;
size: auto;
height: 200px;
width: 200px;
} 
img.bottom { 
left: 80px; 
position: absolute; 
top: 50px; 
z-index: 1; 
size: auto;
} 
	
 ul#menu {
  padding: 0px;
margin-top: 365px;
margin-left: 1095px;
}

ul#menu li {
    display: inline;
	  margin-left: -3px;
}

ul#menu li a {
    color: #000;
padding: 24px 45px;
text-decoration: none;
margin: 25px;
background-color: #F00;
}

ul#menu li a:hover {
	border-top:3px solid #F60;
    
	margin-left: -3px;
margin:22px	;
}